<h1>我的Attribute Directive</h1>
<h4>选择一个高亮的颜色</h4>
<div>
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="myColor='orange'">Orange

</div>
<p [helloworld]="color">Highlight me!</p>

<p [helloworld]="myColor" [defaultColor]="'purple'">
  Highlight me too!
</p>



<!--<p [myDirective]="color">????</p>-->

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
